main{
    display: flex;
    justify-content: center;
}

body{
    text-align: center;
    /* background-color: #222222; */
    background-color: #0A2240;
    color: white;
    font-family:'Lora', serif;
}

#president{
    display: flex;
    border-radius: 5%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #004B98;
    border: solid black;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
}

#logo{
    width: 10%;
    height: auto;
    float: left;
}
