main {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    background-color: white;
    color: white;
    font-family: 'Lora', serif;
}

.text {
    background-color: #0A2240;
    margin: 2%;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: #222222;
    color: white;
}

#logo {
    width: 10%;
    height: auto;
    float: left;
}

#welcome-section {
    vertical-align: middle;
}

a:link {
    text-decoration: none;
    margin-right: 5px;
    color: white;
}

.hidden {
    display: none;
}

p{
    text-align:left;
}

li{
    text-align:left;
}